{% extends 'base.html.twig' %}


{% block body %}

    <div class="container base-container">
        <br/>

        <h2 class="left padding-standard">
            Stwórz ogłoszenie
        </h2>
        <br>
        <h6 style="margin-top:50px; clear:both;" class="padding-standard">
            Wypełnij pola:
        </h6>

        <div class="row">

            {{ form_start(form) }}
            <div class="row">
                <div class="input-field col s6">
                    {{ form_row(form.title) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{ form_row(form.category) }}
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="input-field col s12">
                        {{ form_row(form.price) }}
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:50px;">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Załącz obrazki</span>
                        {{ form_row(form.images) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <ul class="listitems" id="list-items">
                {% for image in auction.images %}
                    <li id="list" data-index="{{ image.id }}">
                        <img src="{{ asset(image.path) }}" height="100" width="100"/>
                        <label>
                            <input id="indeterminate-checkbox" class="get_value" type="checkbox"
                                   value="{{ image.id }}"/>
                            <span>Indeterminate Style</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <p>
                <a class="waves-effect waves-light btn deleteButton" name="submit-delete" id="submit-delete">Usuń zdjęcie</a>
            </p>
        </div>
        {{ form_widget(form.save, {'label': 'Aktualizuj ogłoszenie'}) }}
        {{ form_end(form) }}

        <div style="margin-top: 20px" class="row">
            {{ include('ads/_delete_form.html.twig') }}
        </div>
    </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit-delete').click(function () {
                var insert_delete = [];
                $('.get_value').each(function () {
                    if ($(this).is(":checked")) {
                        insert_delete.push($(this).val());
                    }
                });

                insert_delete = insert_delete.toString();
                $.ajax({
                    url: "{{ path('image_delete', {'id': auction.id}) }}",
                    method: "POST",
                    data: {insert_delete: insert_delete},
                    async: true,

                    success: function ($data) {
                        console.log("udało sie");
                    },
                    error: function (data) {
                        console.log("nie udało sie")
                    }
                });

            });

        });
    </script>

{% endblock %}
