<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

{% block stylesheets %}
        	<link href="{{ asset('css/materialize.css') }}" rel="stylesheet" type="text/css"/>
        	<link href="{{ asset('css/base.css') }}" rel="stylesheet" type="text/css"/>
        	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link href="{{ asset('css/image-uploader.min.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

    <body class="body">
{% block navbar %}

    <!-- Dropdown Structure -->
		<ul id="dropdown_profile" class="dropdown-content">
		  <li><a href="{{ path('yourads') }}">Twoje ogłoszenia</a></li>
		  <li><a href="/profile">Profil</a></li>
            <li><a href="{{ path('category_index') }}">Kategorie</a></li>
		  <li><a href="{{ path('security_logout') }}">Wyloguj</a></li>
		</ul>

		<nav>
		  <div class="nav-wrapper base-wrapper">
		    <a href="/" class="brand-logo truncate">Serwis ogłoszeniowy Postex</a>
		    <ul class="right hide-on-med-and-down">
		    <li> <a href="/">Strona główna</a></li>
		    <li><a href="{{ path('yourads_new') }}">Stwórz ogłoszenie</a></li>
		      <li><a href="{{ path('security_login') }}">Logowanie</a></li>
		      <li><a href={{ path('user_register') }}>Rejestracja</a></li>
		      <!-- Dropdown Trigger -->
		      <li><a class="dropdown-trigger hide" href="#!" data-target="dropdown_profile">{{ app.user.firstname ?? '' }} {{ app.user.surname ?? '' }}<i class="material-icons right">arrow_drop_down</i></a></li>
		    </ul>
		  </div>
		</nav>
{% endblock %}

{% block javascripts %}
        	<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('js/materialize.js') }}"></script>
            <script src="{{ asset('js/base.js') }}"></script>
            <script src="{{ asset('js/image-uploader.js') }}"></script>
          
{% endblock %}

{% if is_granted('IS_AUTHENTICATED_FULLY') == true %}

<script>
  $('a[href="/login"').hide();
  $('a[href="/register"').hide();
  $('.dropdown-trigger').text();
  $('.dropdown-trigger').removeClass('hide');
</script>

{% endif %}

{% block body %}

{% endblock %}

{% block footer %}

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Postex</h5>
                <p class="grey-text text-lighten-4">Z nami ogłaszanie się jest jeszcze prostsze!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Linki</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/aboutus">O nas</a></li>
                  <li><a class="grey-text text-lighten-3" href="/authors">Autorzy strony</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Strona chroniona prawem autorskim
            </div>
          </div>
        </footer>
        	
{% endblock %}
    </body>
</html>
