{% extends 'base.html.twig' %}


{% block body %}

      	<div class="container base-container">

{% if is_granted('IS_AUTHENTICATED_FULLY') == false %}

        <blockquote class="right">
      		Jesteś niezalogowany
   		</blockquote>
   		<br/>

   		<h2 class="center">
   			Witaj!
   		</h2>
   		<h4 style="margin-top:50px; text-align:center;">
   			Szukasz dobrego miejsca, aby się ogłosić? Trafiłeś idealnie!
   		</h4>

{% else %}

<script src="{{ asset('js/baseExtended.js') }}"></script>

<!-- Taby -->
 <ul id="tabs-swipe-demo" class="tabs margin-topStandard">
    <li class="tab col s3" style="width:100%;"><a class="active" href="#test-swipe-1">Profil</a></li>
  </ul>

  <!-- Ostatnie ogłoszenia -->
  <div id="test-swipe-1" class="col s12 tabContent Profile">

<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">perm_identity</i>
      Imię
      <span class="badge">{{ app.user.firstname ?? '' }}</span></div>

  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">perm_identity</i>
      Nazwisko
      <span class="badge">{{ app.user.surname ?? '' }}</span></div>
  </li>
    <li>
    <div class="collapsible-header">
      <i class="material-icons">local_post_office</i>
      Email
      <span class="badge">{{ app.user.email ?? '' }}</span></div>
  </li>
    <li>
    <div class="collapsible-header">
      <i class="material-icons">account_circle</i>
      Login
      <span class="badge">{{ app.user.login ?? '' }}</span></div>
  </li>
    <li>
    <div class="collapsible-header">
      <i class="material-icons">lock_outline</i>
      Hasło
      <span class="badge">Zmień hasło</span></div>
    <div class="collapsible-body">

<div class="row">
    {{ form_start(formChangePassword) }}
        {{ form_widget(formChangePassword) }}
    {{ form_end(formChangePassword) }}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice padding-standard">
            {{ message }}
        </div>
    {% endfor %}
</div>
</div>

</li>

<li>
<div class="collapsible-header">
  <i class="material-icons">contact_phone</i>
  Telefon
  <span class="badge">{{ app.user.phone ?? 'Dodaj telefon' }}</span></div>
<div class="collapsible-body">

<div class="row">
    {{ form_start(formChangePhoneNumber) }}
    {{ form_row(formChangePhoneNumber.phone) }}
    {{ form_errors(formChangePhoneNumber) }}
    {{ form_end(formChangePhoneNumber) }}
  {% for message in app.flashes('phone_notice') %}
  <div class="flash-notice padding-standard">
    {{ message }}
  </div>
  {% endfor %}
  
</div>
</div>

</li>

  </div>
  

  <script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
   $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  </script>

{% endif %}

</div>

{% endblock %}
