{% extends 'base.html.twig' %}


{% block body %}

      	<div class="container base-container">
	   		<br/>

	   		<h2 class="left padding-standard">
	   			Rejestracja
	   		</h2>
	   		<br>
	   		<h6 style="margin-top:50px; clear:both;" class="padding-standard">
	   			Wypełnij pola:
	   		</h6>
				<div class="row">
					{{ form_start(form) }}
					<div class="row">
						<div class="input-field col s6">
							{{ form_row(form.firstname) }}
						</div>
						<div class="input-field col s6">
							{{ form_row(form.surname) }}
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							{{ form_row(form.login) }}
						</div>
						<div class="input-field col s6">
							{{ form_row(form.plainPassword) }}
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							{{ form_row(form.email) }}
						</div>
						<div class="input-field col s6">
							{{ form_row(form.phone) }}
					</div>
				</div>
			</div>
			<button class="btn waves-effect waves-light">Zapisz <i class="material-icons right">send</i></button>
			{{ form_end(form) }}
			
  	      	{% for message in app.flashes('notice') %}
				<div class="flash-notice padding-standard">
					{{ message }}
				</div>
			{% endfor %}
        </div>

{% endblock %}
