{% extends 'base.html.twig' %}


{% block body %}

      	<div class="container base-container">

{% if is_granted('IS_AUTHENTICATED_FULLY') == false %}

        <blockquote class="right">
      		Jesteś niezalogowany
   		</blockquote>
   		<br/>

   		<h2 class="center">
   			Witaj!
   		</h2>
   		<h4 style="margin-top:50px; text-align:center;">
   			Szukasz dobrego miejsca, aby się ogłosić? Trafiłeś idealnie!
   		</h4>

{% else %}

<script src="{{ asset('js/baseExtended.js') }}"></script>

<!-- Taby -->
 <ul id="tabs-swipe-demo" class="tabs margin-topStandard">
    <li class="tab col s3" style="width:100%;"><a class="active" href="#test-swipe-1">Twoje ogłoszenia</a></li>
  </ul>

  <!-- Ostatnie ogłoszenia -->
  <div id="test-swipe-1" class="col s12 tabContent LastAds">

<p style="clear:both; margin-left:20px;">
Przeglądasz swoje ogłoszenia
</p>

{% for auction in auctions  %}
<!-- Karta -->
<div class="card">

    <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset(auction.getFirstImage) }}" width="300" height="400">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ auction.title }}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Usuń</a></p>
        <a href="{{ path('yourads_edit', {'id': auction.id}) }}"><button class="btn btn-info">Edytuj</button></a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Tytuł<i class="material-icons right">close</i></span>
      <p>{{ auction.description }}</p>
    </div>
  </div>
<!--  -->
{% endfor %}
  </div>
  

<!-- Paginacja -->
  <ul class="pagination center pagination_yourads">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
  </script>

{% endif %}

</div>

{% endblock %}
